In [22]:
# Cell 1: Imports
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import os

In [23]:
# Cell 2: Define connection to PostGIS
# Replace 'your_password' with the postgres password you set during install
DATABASE_URL = "postgresql+psycopg2://postgres:frank8446@localhost:5432/nairobi_water"
engine = create_engine(DATABASE_URL)

In [24]:
# Cell 3: Read the CSV and convert to GeoDataFrame
csv_path = "wpdx_ken.csv" 
df = pd.read_csv(
    csv_path,
    header=0,
    skiprows=[1],             # <--- this skips exactly the junk row
    low_memory=False
)


# Create geometry column using the correct column names
gdf = gpd.GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df['lon_deg'], df['lat_deg']),  # x = lon, y = lat
    crs="EPSG:4326"
)

# Quick quality check
print(f"Total water points loaded: {len(gdf)}")
print("Coordinate reference system:", gdf.crs)
print("Any invalid geometries?", gdf['geometry'].isna().sum(), "rows")

# Preview the first few rows with geometry
gdf[['lat_deg', 'lon_deg', 'status_clean', 'install_year', 'is_urban', 'geometry']].head(5)

Total water points loaded: 21953
Coordinate reference system: EPSG:4326
Any invalid geometries? 0 rows

,lat_deg,lon_deg,status_clean,install_year,is_urban,geometry
0,0.212005,34.615833,Non-Functional,NaN,False,POINT (34.61583 0.21201)
1,0.212567,34.616543,Non-Functional,NaN,False,POINT (34.61654 0.21257)
2,0.222063,34.601463,Non-Functional,NaN,False,POINT (34.60146 0.22206)
3,0.222362,34.604015,Non-Functional,NaN,False,POINT (34.60402 0.22236)
4,0.023602,34.777866,Non-Functional,NaN,False,POINT (34.77787 0.0236)

In [25]:
# Remove rows with missing coordinates
gdf = gdf[gdf['geometry'].notna()].copy()

# Optional: Filter only points in Kenya (if the CSV includes others)
# WPdx Kenya files usually are clean, but just in case
gdf = gdf[gdf['clean_country_name'].str.contains('Kenya', case=False, na=False)]

# Optional: Look at status distribution
print("Water point status distribution:")
print(gdf['status_clean'].value_counts(dropna=False))

print(f"Cleaned water points: {len(gdf)}")

Water point status distribution:
status_clean
Non-Functional                13578
Functional, not in use         4757
Functional                     1964
Functional, needs repair       1461
Non-Functional, dry season      190
Abandoned/Decommissioned          3
Name: count, dtype: int64
Cleaned water points: 21953

In [26]:
# Save to PostGIS
gdf.to_postgis(
    name="water_points",
    con=engine,
    if_exists="replace",
    index=False
)

print("Successfully wrote water_points table to PostGIS!")

Successfully wrote water_points table to PostGIS!