In [1]:
# Imports (if not already)
import geopandas as gpd
from sqlalchemy import create_engine

# Engine (same as before)
DATABASE_URL = "postgresql+psycopg2://postgres:frank8446@localhost:5432/nairobi_water"
engine = create_engine(DATABASE_URL)

In [2]:
# Load the boundaries shapefile
# Adjust path and filename to match your downloaded file
boundaries_path = "gadm41_KEN.shp"  # or "gadm41_KEN_1.shp" etc.

admin_gdf = gpd.read_file(boundaries_path)

print(f"Loaded {len(admin_gdf)} admin units")
print("Columns:", admin_gdf.columns.tolist())
admin_gdf.head(3)  # Look for NAME_1 or ADM1_EN or similar for "Nairobi"

Loaded 47 admin units
Columns: ['GID_1', 'GID_0', 'COUNTRY', 'NAME_1', 'VARNAME_1', 'NL_NAME_1', 'TYPE_1', 'ENGTYPE_1', 'CC_1', 'HASC_1', 'ISO_1', 'geometry']

,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1,geometry
0,KEN.1_1,KEN,Kenya,Baringo,NA,NA,County,County,30,KE.BA,KE-01,"MULTIPOLYGON (((35.76164 -0.19037, 35.74926 -0..."
1,KEN.2_1,KEN,Kenya,Bomet,NA,NA,County,County,36,KE.BO,KE-02,"POLYGON ((35.26126 -1.01593, 35.26072 -1.0159,..."
2,KEN.3_1,KEN,Kenya,Bungoma,NA,NA,County,County,39,KE.BN,KE-03,"POLYGON ((34.87783 0.8339, 34.88717 0.83884, 3..."

In [3]:
# Write to PostGIS
admin_gdf.to_postgis(
    name="admin_boundaries",
    con=engine,
    if_exists="replace",
    index=False
)

print("Admin boundaries loaded into 'admin_boundaries' table!")

Admin boundaries loaded into 'admin_boundaries' table!

In [5]:
import os
from sqlalchemy import create_engine, text

# Your engine (make sure password is correct)
DATABASE_URL = "postgresql+psycopg2://postgres:frank8446@localhost:5432/nairobi_water"
engine = create_engine(DATABASE_URL)

raster_path = "ken_ppp_2020.tif"  # adjust to your exact filename

# Option A: Use raster2pgsql via command line (recommended - faster, more reliable)

# Run this in a cell or copy to Anaconda Prompt
cmd = f'raster2pgsql -s 4326 -I -C -M -F -t 100x100 "{raster_path}" population_raster | psql -h localhost -p 5432 -U postgres -d nairobi_water'

print("Running command:")
print(cmd)
print("\nPaste the above command into Anaconda Prompt (after activating nairobi env)")

# If you want to run it from Python (may require subprocess)
# import subprocess
# result = subprocess.run(cmd, shell=True, capture_output=True, text=True)
# print(result.stdout)
# print(result.stderr)

Running command:
raster2pgsql -s 4326 -I -C -M -F -t 100x100 "ken_ppp_2020.tif" population_raster | psql -h localhost -p 5432 -U postgres -d nairobi_water

Paste the above command into Anaconda Prompt (after activating nairobi env)